html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*----------------------------------------*/

.notes {
    margin: 10px;
    border: solid;
    border-color: grey;
    display: none;
    flex-direction: column;
}

.notebox {
    border: solid;
    border-color: black;
    margin: 10px;
}
